
.firstProductContainer{
	/*display: none;*/
	margin-top: 100vh;
	margin: 0 auto;
	height: 150vh;
	text-align: center;
	display: flex;
	justify-content: space-around;
	background-color: #FAE5D3;
	position: relative;
}
.benefits{
	font-size: 100px;
	position: relative;
	top: 250px;
}

.firstProductsOnly,
.secondProductsOnly,
.thirdProductsOnly{
	position: relative;
	opacity: 0;
}
.testDescription{
	color: #fff;
}
.productOne,
.productTwo,
.productThree,
.productFour,
.productFive,
.productSix,
.productSeven,
.productEight,
.productNine{
	margin-top: 215px;
}
.addCart1,
.addCart2,
.addCart3,
.addCart4,
.addCart5,
.addCart6,
.addCart7,
.addCart8,
.addCart9,
{
	color: #fff;
	margin: 0 auto;
	padding: 10px; 
	background-color: salmon;
	&:hover{
		cursor: pointer;
	}
}
.mainImgOpacity{
	opacity: .7;
	&:hover{
		opacity: 1;
		transition: opacity .8s;
	}
}
.testImage1{
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.testImage2{
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.testImage3{
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.testImage4{
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.testImage5{
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.testImage6{
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.testImage7{
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.testImage8{
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
	height: 300px;
}
.testImage9{
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
	height: 300px;
}

.firstScroll{
	position: absolute;
	z-index: 101;
}
