
.firstProductContainer{
	display: none;
	margin-top: 100vh;
	margin: 0 auto;
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: space-around;
	background-color: #FAE5D3;
	position: relative;
}

.firstProductsOnly,
.secondProductsOnly,
.thirdProductsOnly{
	position: relative;
	opacity: 0;
}
.testDescription{
	color: #fff;
}
.productOne,
.productTwo,
.productThree,
.productFour,
.productFive,
.productSix,
.productSeven,
.productEight,
.productNine{
	margin-top: 215px;
}
.addCart1,
.addCart2,
.addCart3,
.addCart4,
.addCart5,
.addCart6,
.addCart7,
.addCart8,
.addCart9,
{
	color: #fff;
	margin: 0 auto;
	padding: 10px; 
	background-color: salmon;
	&:hover{
		cursor: pointer;
	}
}
.testImage{
	/*background-color: rgb(224, 247, 250);*/
	border-radius: 10px;
	cursor: pointer;
	width: 300px;
	height: 300px;

}

.firstScroll{
	position: absolute;
	z-index: 101;
}
