.headerContainer{
    background-color: rgb(250, 215, 160);
    width: 100%;
    position: fixed;
    z-index: 1;
}
.logo{
    width: 90px;
    height: 90px;
    position: relative;
    margin-top: 16px;
    margin-left: 182px;
}
ul{
    text-align: center;
    padding: 0;
    position: relative;
    z-index: 100;
}
li {
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    display: inline;
    color: rgb(40, 180, 99);
    &:hover{
    	color: teal;
    	cursor: pointer;
    }
}
.navMenuFade{
    animation: navMenuFade 1s forwards;
}
.cart{
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 58px;
    right: 606px;
    &:hover{
        cursor: pointer;
    }
}
.qty{
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    color: #000;
    font-weight: 900;
    position: absolute;
    bottom: 63px;
    left: 539px;
    font-size: 13px;
    padding-bottom: 8px;
    font-family: 'Passion One', cursive;
}