.hero{
	/*background-color: red;*/
	/*margin-top: 125px;*/
	height: 100vh;
	padding: 0;
	background-image: url("../img/ginger.jpg"); 
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.reel, .ingridients{
	display: none;
}
.really{
	display: none;
	font-family: 'Bad Script', cursive;
	color: rgb(244, 208, 63);
	text-shadow: 1px 1px 2px black;
	position: relative;
    font-size: 84px;
    top: 150px;
    left: 30%;
}
.ingridients{
	font-family: 'Bad Script', cursive;
	color: rgb(244, 208, 63);
	text-shadow: 1px 1px 2px black;
	position: relative;
    font-size: 84px;
    top: 260px;
    left: 20%;
}
p{	
	margin-top: 50px !important;
	text-align: justify;
    text-justify: inter-word;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.6);
	width: 66%;
	margin: 0 auto;
    /*text-align: center;*/
    color: #fff;
    font-size: 29px;
    position: relative;
    top: 25%;
}
.heroContents{
	position: fixed;
	margin-bottom: 100px;
	width: 100%;
	display: inline-flex;
}
.fadeClass{
	opacity: 0;
	transition: opacity .5s;
}
.fadeBackClass{
	opacity: 1;
	transition: opacity .5s;
}





























