.imageModal{
	display: none;
	width: 63vw;
	height: 48vh;
	background-color: rgb(255, 204, 188);
	position: relative;
	left: 19%;
	top: 19%;
	z-index: 1000;
	border-radius: 10px;
	position: fixed;
}
.close{
	right: 10px;
	top: 10px;
}
.productModal{
	border: .5px solid black;
	height: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	left: 10px;
	top: 10px;
}
.testImageModal{
	width: 200px;
	height: 200px;
}
.testDescriptionModal{
	font-size: 20px;
}
.addCartModal{
	position: absolute;
	text-align: center;
	width: 100%;
	color: #fff;
	margin: 0 auto;
	padding: 10px; 
	background-color: salmon;
	&:hover{
		cursor: pointer;
	}
}
.close{
	width: 25px;
	height: 25px;
	cursor: pointer;
	position: absolute;
    right: 4px;
    topr: 4px;
    bottom: -131px;
}
.productModalInfo{
	margin-top: 15px;
	position: absolute;
	left: 35%;
}







































