.imageModal1{
    display: none;
    text-align: center;
    width: 650px;
    height: 500px;
    background-color: #fff;

    position: fixed;
    margin: 0 auto;

    top: 20%;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
}
.imageModal2{
    display: none;
    text-align: center;
    width: 800px;
    height: 500px;
    background-color: #fff;

    position: absolute;
    margin: 0 auto;

    top: 20%;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
}
.imageModal3{
    display: none;
    text-align: center;
    width: 800px;
    height: 500px;
    background-color: #fff;

    position: absolute;
    margin: 0 auto;

    top: 20%;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    font-size: 23px;
	right: 4px;
	top: 3px;
    &:hover{
        cursor: pointer;
    }
}
.firstProImgIn{
    margin-bottom: 40px;
    position: relative;
}
.productModal{
	height: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	left: 10px;
	top: 10px;
}
.testImageModal1{
    display: block;
    /*margin: 20px;*/
    position: relative;
    top: 20px;
    width: 125px;
    height: 125px;
}
.testImageModal2{
    display: block;
    /*margin: 20px;*/
    position: relative;
    top: 20px;
    width: 125px;
    height: 125px;
}
.testImageModal3{
    display: block;
    /*margin: 20px;*/
	position: relative;
	top: 20px;
	width: 125px;
	height:125px;
}
.testDescriptionModal{
    position: relative;
    bottom: 20px;
	font-size: 20px;
}
.addCartModal{
	position: absolute;
    left: 20%;
    top: 74%;
    right: 20%;
    text-align: center;
    width: 25%;
    color: #fff;
    margin: 0 auto;
    padding: 10px;
    background-color: salmon;
	&:hover{
		cursor: pointer;
	}
}
.productModalInfo{
    margin: 0 auto;
    width: 80%;
    margin-top: -18px;
}
.rightSideModal{
    position: relative;
    float: right;
    width: 82%;
    bottom: 182px;
    height: 20vh;
}

.imageModalSlider{
    position: absolute;
    z-index: -1;
    width: 86%;
    height: 38vh;
    right: 0px;
    bottom: 193px;
}
.vl{
    border-left: 1px solid #D5D8DC;
    height: 450px;
    position: absolute;
    bottom: 30px;
    left: 20%;
}
.hl{
    border-bottom: 1px solid #D5D8DC;
    height: 1px;
    width: 493px !important;
    position: absolute;
    bottom: 193px;
    left: 20%;
}







































