
.firstProductContainer{
	height: 100vh;
	text-align: center;
	display: inline-flex;
	justify-content: space-around;
	background-color: blue;
}
.productOne,
.productTwo,
.productThree{
	margin-top: 110px;

}
.addCart{
	color: #fff;
	margin: 0 auto;
	padding: 10px; 
	background-color: salmon;
	&:hover{
		cursor: pointer;
	}
}

.firstScroll{
	position: absolute;
	z-index: 101;
}