body {
  /*background-image: url("../img/fernando.jpg");*/
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poiret One', cursive;
  margin: 0;
  padding: 0;
  width: 100%; }

section {
  height: 100%;
  min-height: 100%; }

.display {
  top: 0;
  position: fixed;
  z-index: 1000; }

.test {
  position: relative;
  top: 10% rr; }

.mrBlurry {
  position: relative;
  z-index: 999999999999;
  /*background-color: black;*/
  transform: blur("20px"); }

@keyframes blurOn {
  from {
    filter: blur(0px); }
  to {
    filter: blur(3px); } }
@keyframes blurOff {
  from {
    filter: blur(3px); }
  to {
    filter: blur(0px); } }
@keyframes navMenuFade {
  0% {
    color: #fff; }
  100% {
    color: teal; } }
.imageModal {
  display: none;
  width: 63vw;
  height: 48vh;
  background-color: #ffccbc;
  position: relative;
  left: 19%;
  top: 19%;
  z-index: 1000;
  border-radius: 10px;
  position: fixed; }

.close {
  right: 10px;
  top: 10px; }

.productModal {
  border: .5px solid black;
  height: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 10px;
  top: 10px; }

.testImageModal {
  width: 200px;
  height: 200px; }

.testDescriptionModal {
  font-size: 20px; }

.addCartModal {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  background-color: salmon; }
  .addCartModal:hover {
    cursor: pointer; }

.close {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 4px;
  topr: 4px;
  bottom: -131px; }

.productModalInfo {
  margin-top: 15px;
  position: absolute;
  left: 35%; }

footer {
  height: 15vh;
  background-color: gray;
  text-align: center;
  margin-top: 0px !important; }

.footerContainer {
  position: relative; }

.hero {
  /*background-color: red;*/
  margin-top: 125px;
  height: 100vh;
  padding: 0;
  background-image: url("../img/nature.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.intro {
  opacity: 1;
  position: relative;
  width: 53%;
  text-align: center;
  margin-top: 50px !important;
  font-size: 84px;
  background-color: #e0f7fa;
  margin: 0 auto;
  border-radius: 10px;
  top: 20%; }

p {
  opacity: 1;
  margin-top: 50px !important;
  text-align: justify;
  text-justify: inter-word;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 66%;
  margin: 0 auto;
  /*text-align: center;*/
  color: #fff;
  font-size: 29px;
  position: relative;
  top: 25%; }

.heroContents {
  position: fixed;
  margin-bottom: 100px;
  width: 100%; }

.thirdProductContainer {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #F5EEF8;
  position: relative; }

.secondProductContainer {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #D0ECE7;
  position: relative; }

.firstProductContainer {
  display: none;
  margin-top: 100vh;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #FAE5D3;
  position: relative; }

.firstProductsOnly,
.secondProductsOnly,
.thirdProductsOnly {
  position: relative;
  opacity: 0; }

.testDescription {
  color: #fff; }

.productOne,
.productTwo,
.productThree,
.productFour,
.productFive,
.productSix,
.productSeven,
.productEight,
.productNine {
  margin-top: 215px; }

.addCart1,
.addCart2,
.addCart3,
.addCart4,
.addCart5,
.addCart6,
.addCart7,
.addCart8,
.addCart9 {
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  background-color: salmon; }
  .addCart1:hover,
  .addCart2:hover,
  .addCart3:hover,
  .addCart4:hover,
  .addCart5:hover,
  .addCart6:hover,
  .addCart7:hover,
  .addCart8:hover,
  .addCart9:hover {
    cursor: pointer; }

.testImage {
  /*background-color: rgb(224, 247, 250);*/
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px; }

.firstScroll {
  position: absolute;
  z-index: 101; }

.headerContainer {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 125px;
  background-color: red;
  width: 100%;
  margin: 0 auto; }

.logo {
  width: 90px;
  height: 90px;
  position: relative;
  margin-top: 16px;
  margin-left: 182px; }

ul {
  bottom: 60px;
  left: 40%;
  position: relative; }

li {
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  display: inline;
  color: #fff; }
  li:hover {
    cursor: pointer; }

.navMenuFade {
  animation: navMenuFade 1s forwards; }

.aboutContainer {
  display: none;
  height: 95vh;
  width: 95%;
  background-color: #F2F4F4;
  margin: 0 auto;
  position: fixed;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 99999;
  border-radius: 5px; }

.about {
  text-align: center;
  position: relative;
  top: 15px;
  font-size: 50px;
  text-decoration: underline; }

.closeAbout {
  width: 25px;
  height: 25px;
  cursor: pointer;
  top: 4px;
  right: 4px;
  position: absolute;
  z-index: 9999; }

/*# sourceMappingURL=main.css.map */
