body {
  /*background-image: url("../img/fernando.jpg");*/
  background-color: #fad7a0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poiret One', cursive;
  margin: 0;
  padding: 0;
  width: 100%; }

section {
  height: 100%;
  min-height: 100%; }

.display {
  top: 0;
  position: fixed;
  z-index: 100; }

.test {
  position: relative;
  top: 10%; }

.mrBlurry {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7); }

@keyframes blurOn {
  from {
    filter: blur(0px); }
  to {
    filter: blur(3px); } }
@keyframes blurOff {
  from {
    filter: blur(3px); }
  to {
    filter: blur(0px); } }
@keyframes navMenuFade {
  0% {
    color: #fff; }
  100% {
    color: teal; } }
.imageModal1 {
  display: none;
  text-align: center;
  width: 650px;
  height: 500px;
  background-color: #fff;
  position: fixed;
  margin: 0 auto;
  top: 20%;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 0 3px #000; }

.imageModal2 {
  display: none;
  text-align: center;
  width: 800px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  margin: 0 auto;
  top: 20%;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 0 3px #000; }

.imageModal3 {
  display: none;
  text-align: center;
  width: 800px;
  height: 500px;
  background-color: #fff;
  position: absolute;
  margin: 0 auto;
  top: 20%;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 0 3px #000; }

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  font-size: 23px;
  right: 4px;
  top: 3px; }
  .close:hover {
    cursor: pointer; }

.firstProImgIn {
  margin-bottom: 40px;
  position: relative; }

.productModal {
  height: 100%;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 10px;
  top: 10px; }

.testImageModal1 {
  display: block;
  /*margin: 20px;*/
  position: relative;
  top: 20px;
  width: 125px;
  height: 125px; }

.testImageModal2 {
  display: block;
  /*margin: 20px;*/
  position: relative;
  top: 20px;
  width: 125px;
  height: 125px; }

.testImageModal3 {
  display: block;
  /*margin: 20px;*/
  position: relative;
  top: 20px;
  width: 125px;
  height: 125px; }

.testDescriptionModal {
  position: relative;
  bottom: 20px;
  font-size: 20px; }

.addCartModal {
  position: absolute;
  left: 20%;
  top: 74%;
  right: 20%;
  text-align: center;
  width: 25%;
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  background-color: salmon; }
  .addCartModal:hover {
    cursor: pointer; }

.productModalInfo {
  margin: 0 auto;
  width: 80%;
  margin-top: -18px; }

.rightSideModal {
  position: relative;
  float: right;
  width: 82%;
  bottom: 182px;
  height: 20vh; }

.imageModalSlider {
  position: absolute;
  z-index: -1;
  width: 86%;
  height: 38vh;
  right: 0px;
  bottom: 193px; }

.vl {
  border-left: 1px solid #D5D8DC;
  height: 450px;
  position: absolute;
  bottom: 30px;
  left: 20%; }

.hl {
  border-bottom: 1px solid #D5D8DC;
  height: 1px;
  width: 493px !important;
  position: absolute;
  bottom: 193px;
  left: 20%; }

footer {
  height: 15vh;
  background-color: gray;
  text-align: center;
  margin-top: 0px !important; }

.footerContainer {
  position: relative; }

.hero {
  /*background-color: red;*/
  /*margin-top: 125px;*/
  height: 100vh;
  padding: 0;
  background-image: url("../img/ginger.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.reel, .ingridients {
  display: none; }

.really {
  display: none;
  font-family: 'Bad Script', cursive;
  color: #f4d03f;
  text-shadow: 1px 1px 2px black;
  position: relative;
  font-size: 84px;
  top: 150px;
  left: 30%; }

.ingridients {
  font-family: 'Bad Script', cursive;
  color: #f4d03f;
  text-shadow: 1px 1px 2px black;
  position: relative;
  font-size: 84px;
  top: 260px;
  left: 20%; }

p {
  margin-top: 50px !important;
  text-align: justify;
  text-justify: inter-word;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 66%;
  margin: 0 auto;
  /*text-align: center;*/
  color: #fff;
  font-size: 29px;
  position: relative;
  top: 25%; }

.heroContents {
  position: fixed;
  margin-bottom: 100px;
  width: 100%;
  display: inline-flex; }

.fadeClass {
  opacity: 0;
  transition: opacity .5s; }

.fadeBackClass {
  opacity: 1;
  transition: opacity .5s; }

.thirdProductContainer {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #a9dfbf;
  position: relative; }

.secondProductContainer {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #D0ECE7;
  position: relative;
  background-image: url("../img/hibiscus.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.firstProductContainer {
  /*display: none;*/
  margin-top: 100vh;
  margin: 0 auto;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: #FAE5D3;
  position: relative; }

.benefits {
  font-size: 100px;
  position: relative;
  top: 250px; }

.firstProductsOnly,
.secondProductsOnly,
.thirdProductsOnly {
  position: relative;
  opacity: 0; }

.testDescription {
  color: #fff; }

.productOne,
.productTwo,
.productThree,
.productFour,
.productFive,
.productSix,
.productSeven,
.productEight,
.productNine {
  margin-top: 215px; }

.addCart1,
.addCart2,
.addCart3,
.addCart4,
.addCart5,
.addCart6,
.addCart7,
.addCart8,
.addCart9 {
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  background-color: salmon; }
  .addCart1:hover,
  .addCart2:hover,
  .addCart3:hover,
  .addCart4:hover,
  .addCart5:hover,
  .addCart6:hover,
  .addCart7:hover,
  .addCart8:hover,
  .addCart9:hover {
    cursor: pointer; }

.mainImgOpacity {
  opacity: .7; }
  .mainImgOpacity:hover {
    opacity: 1;
    transition: opacity .8s; }

.testImage1 {
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px; }

.testImage2 {
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px; }

.testImage3 {
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px; }

.testImage4 {
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px; }

.testImage5 {
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px; }

.testImage6 {
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px; }

.testImage7 {
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px; }

.testImage8 {
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px; }

.testImage9 {
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
  height: 300px; }

.firstScroll {
  position: absolute;
  z-index: 101; }

.headerContainer {
  background-color: #fad7a0;
  width: 100%;
  position: fixed;
  z-index: 1; }

.logo {
  width: 90px;
  height: 90px;
  position: relative;
  margin-top: 16px;
  margin-left: 182px; }

ul {
  text-align: center;
  padding: 0;
  position: relative;
  z-index: 100; }

li {
  text-shadow: 1px 1px 1px black;
  font-weight: 600;
  font-size: 20px;
  margin-left: 20px;
  position: relative;
  display: inline;
  color: #28b463; }
  li:hover {
    color: teal;
    cursor: pointer; }

.navMenuFade {
  animation: navMenuFade 1s forwards; }

.cart {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 58px;
  right: 606px; }
  .cart:hover {
    cursor: pointer; }

.qty {
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  color: #000;
  font-weight: 900;
  position: absolute;
  bottom: 63px;
  left: 539px;
  font-size: 13px;
  padding-bottom: 8px;
  font-family: 'Passion One', cursive; }

.aboutContainer {
  display: none;
  height: 95vh;
  width: 80%;
  background-color: #F2F4F4;
  margin: 0 auto;
  position: fixed;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 99999;
  border-radius: 5px; }

.about {
  text-align: center;
  position: relative;
  top: 15px;
  font-size: 50px;
  text-decoration: underline; }

.closeAbout {
  width: 25px;
  height: 25px;
  cursor: pointer;
  top: 4px;
  right: 4px;
  position: absolute;
  z-index: 9999; }

.aboutContent {
  width: 80%;
  position: relative;
  top: 30px;
  margin: 0 auto; }

h3 {
  text-align: center; }

/*# sourceMappingURL=main.css.map */
